header{
    display: flex;
    justify-content: space-between;  /* Alinha para as extremidades*/
    background-color: #828282;  /* Cor de fundo do Header */
    border-bottom: 10px solid #000 ; /* Coloca Borda*/
    padding: 10px 20px;/*padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px;*/

}
nav {
    text-align: right;  /* Alinha nav para direita*/
}

a{
    display: inline-flex;
    align-items: center;
    color: #fff; /* Cor da Fonte */
    font-size:20px; /* Tamanho da Fonte */
    font-family: "Fira code", sans-serif, arial, helvetica; /* Fontes */
    font-weight: 500; /* Especificação da Fonte */
    text-decoration: none;  /* Remove Link Sublinhado ____*/
    margin-right:30px; /* Alinha Margem 30px para direita */
}

/* substitui o html "span" (vazio) por um pseudo a antes do elemento,(before) ponto quadrado azul */
a::before{              
    content:" ";
    background-color: #5D5FEF;
    height: 10px;
    width: 10px;
    margin-right: 10px;

}

/* Trocar cor quando passar mouse por cima do id=button*/
#button:hover {
    transform: scale(1.1);
    background-color:white;
    color: red;
    /*transition: transform 100ms linear, opacity 200ms ease-in-out;   Efeito no button*/
}

/* Modifica o botão do header id="button" #button para chamar o ID  */
#button{
    
    display: inline-block;  /* Remove o bloqueio de alterações de altura e largura*/
    background-color:#5D5FEF;
    height:60px;
    line-height: 60px; /* Centraliza uma linha dentro de uma caixa*/
    padding-left:20px;
    padding-right:20px;
    box-shadow: 5px 5px 0px black; /* Sombra da Caixa do button ( x , y , opacidade, cor) */
    margin-right: 0;
}

h1 {
    
    background-color: #62C370;
    text-shadow: 4px 4px 0px black; /* Sombra no texto */
    color: #5D5FEF;
    font-family: "Press Start 2P", sans-serif;
    

    position: absolute;
    width: 676px;
    height: 199px;
    left: 77px;
    top: 197px;
    
}
p {
    color: #5D5FEF;
    font-size: 40px;
    margin-left: 86px;
    
    text-shadow: 4px 4px 0px #000000;
    
}
p2 {
    color: white;
    font-size: 30px;
    margin-left:86px;
    text-shadow: 4px 4px 0px #000000;
}
.button1{

 
    display: inline-block;  /* Remove o bloqueio de alterações de altura e largura*/
    background-color:#5D5FEF;
    font-size: 20px;
    line-height: 60px; /* Centraliza uma linha dentro de uma caixa*/
    padding-left:20px;
    padding-right:18px;
    box-shadow: 5px 5px 0px black; /* Sombra da Caixa do button ( x , y , opacidade, cor) */

    position: absolute;
    width: 170px;
    height: 60px;
    left: 181px;
    top: 418px;
   
    
}



span {
    background-color: #5D5FEF;
    height: 10px;
    width: 10px;
    margin-right: 10px;

}
